.headerContainer {
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.headerControls {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.headerLogo {
    height: 100px;
    cursor: pointer;
}
.login {
    cursor: pointer;

}