.container {
    display: flex;
    margin: auto;
    width: 100%;
    height: 700px;
    margin-top: 2%;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-image: url('../images/scroll.png');
    background-repeat: no-repeat;
    background-position: center;
}
.formContainer {
    display: flex;
    flex-direction: column;
}
.loginFields {
    margin-top: 5%;
    display: flex;
    color: black;
    padding: 5%;
    flex-direction: column;
}
.loginFields label {
    margin-bottom: 1%;
}
.loginFields input {
    font-family: 'EightBitDragon';
    outline: none;
    border: none;
    background-color: transparent;
    border-bottom: 2px solid #7a3e12;
    font-size: 14px;
    margin-bottom: 10px;
}
.buttonContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 300px;
    text-align: center;
}
.buttonContainer button {
    font-family: 'EightBitDragon';
    font-size: 16px;
    cursor: url('../images/quill.gif'), auto;
    background-color: transparent;
    border: none;
    height: 80px;
}
.buttonContainer button:hover {
    color: white;
    text-shadow: 2px 2px black;
    background-image: url('../images/stamp.png');
    background-repeat: no-repeat;
    background-position: center;
}