.addProduct {
    margin: auto;
    margin-top: 1%;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 1%;
}
.addImage {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.filetype {
    font-family: 'PixelAzureBonds';
}
.imageTarget {
    max-height: 80px;
}
.buttonContainer button {
    font-family: 'PixelAzureBonds';
}
.productContainer {
    margin: auto;
    margin-top: 1%;
    width: 75%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
.product {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-width: 45%;
    border: 1px solid #37b935;
    background-color: rgb(219, 243, 223);
    margin: 0.5%;
}
.productImage {
    align-items: center;
    width: 100px;
    height: 100px;
}
.productName {
    flex-direction: column;
    width: 50%;
}
.productName h1 {
    font-size: 20px;
}
.productName h2 {
    font-size: 14px;
}
.productPrice {
    display: flex;
    align-items: center;
}
.productButtons {
    visibility: hidden;
    display: flex;
    align-items: center;
}
.product:hover .productButtons button {
    cursor: url('../images/quill.gif'), auto;
    visibility: visible;
}