.addProduct {
    margin: auto;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 300px;
    background-image: url('../images/board.png');
    background-repeat: no-repeat;
    background-position: center;
}
.formContainer {
    margin-top: 30px;
}
.form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1%;
}
.form input {
    font-family: 'EightBitDragon';
    outline: none;
    border: 1px solid black;
    background-color: #925931;
    font-size: 14px;
    line-height: 18px;
}
.addImage {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    font-size: 14px;
    margin-bottom: 5px;
    width: 400px;
    height: 70px;
}
.filetype {
    font-family: 'EightBitDragon';
}
.imageTarget {
    max-height: 70px;
}
.addNewProduct {
    font-family: 'EightBitDragon';
    background-color: transparent;
    background-image: url('../images/fish.png');
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    width: 180px;
    height: 85px;
    font-size: 16px;
    cursor: url('../images/knife.png'), auto; 
}
.addNewProduct:hover {
    color: white;
    text-shadow: 2px 2px black;
    background-image: url('../images/ripfish.png');
    background-repeat: no-repeat;
    background-position: center;
}
.productContainer {
    margin: auto;
    margin-top: 1%;
    width: 70%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.product {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 102px;
    width: 600px;
    border: 2px solid #7a3e12;
    background-image: url('../images/productplank.png');
    background-repeat: no-repeat;
    background-position: center;
    margin: 0.5%;
    transition-duration: 0.5s;
    color: white;
    text-shadow: 2px 2px black;
}
.product:hover {
    transition-duration: 0.5s;
    box-shadow: rgba(0, 0, 0, 0.50) 0px 3px 8px;
}
.productImageContainer {
    margin: auto;
    display: block;
    margin-left: 5px;
    margin-right: 5px;
}
.productImage {
    width: 80px;
    height: 80px;
    border: 1px solid #7a3e12;
}
.productName {
    flex-direction: column;
    width: 50%;
}
.productName h1 {
    font-size: 18px;
}
.productName h2 {
    font-size: 12px;
}
.productPrice {
    width: 12%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 15px;
}
.productButtons {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 1%;
}
.productButtons button {
    font-family: 'EightBitDragon';
    cursor: pointer;
    background: none;
    border: none;
    font-size: 22px;
    color: white;
    text-shadow: 2px 2px black;
    margin-right: 30px;
}
.productButtons button:hover {
    color: #f2c835;
}
.removeItem {
    max-height: 20px;
}
button:disabled,
button[disabled]{
    cursor: not-allowed;
}