.orders {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
}
.activeOrders {
    display: flex;
    align-items: center;
    margin: 5%;
    flex-direction: column;
}
.oldOrders {
    display: flex;
    align-items: center;
    flex-direction: column;
}