.siteBackground {
    display: flex;
}
.leftSide {
    display: flex;
    flex-direction: column;
    margin-left: 10%;
    width: 45%;
    align-items: left;
    justify-content: space-around;
    padding-left: 30px;
} 
.address {
    display: flex;
    width: 35%;
    height: 25%;
    background-color: rgb(63, 126, 97);
    padding-top: 100px;
    flex-direction: column;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 5%;
}
.paymentContainer {
    display: flex;
    width: 35%;
    height: 25%;
    background-color: rgb(63, 126, 97);
    padding-top: 100px;
    flex-direction: column;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 4%;
}
.order {
    display: flex;
    width: 35%;
    height: 25%;
    background-color: rgb(63, 126, 97);
    padding-top: 100px;
    flex-direction: column;
    padding-left: 20px;
    padding-right: 20px;
}
.rightSide {
    display: flex; 
    flex-direction: right;
    width: 30%;
    justify-content: space-around;
    align-items: center;
}
.orderStatus {
    padding-top: 30%;
    padding: 100px;
    display: flex;
    align-items: center;
    margin: auto;
}
.addInfo {
    overflow: hidden;
    resize: none;
    min-height: 100px;
    line-height: 20px;
    border: 1px solid #37b935;
}
.imageContainer {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    margin-bottom: 30px;
}
.image {
    display: flex;
    max-height: 80px;
    max-width: 160px;
    margin: auto;
    align-items: center;
    justify-content: center;
}
.image:hover {
    cursor: url('../images/quill.gif'), auto;
    opacity: 60%;
}