.pageBanner {
    margin: auto;
    width: 50%;
    margin-bottom: 0.5%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
.pageBanner h1 {
    cursor: default;
}
.food {
    max-height: 400px;
}
.searchHeader {
    font-size: 30px;
    text-align: center;
    margin-bottom: 1%;
}
.searchContainer {
    text-align: center;
    margin-bottom: 1%;
}
.searchBar {
    font-family: 'EightBitDragon';
    font-size: 16px;
    box-shadow: 0px 2px 2px 0px rgb(139, 139, 139);
    outline: none;
    padding: 18px;
    background-color: white;
    border: 1px solid rgb(139, 139, 139);
    width: 30%;
}
.categoryContainer {
    margin: auto;
    width: 50%;
    margin-bottom: 2%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.categories {
    font-family: 'EightBitDragon';
    display: flex;
    background-color: #ffffff;
    border: 1px solid #37b935;
    border-radius: 10px;
    font-size: 18px;
    align-items: center;
    margin: 1%;
}
.categories img {
    height: 50px;
    margin-right: 10px;
}
.categories:hover {
    /* cursor: url('../images/quill.gif'), auto; */
    background-color: #92f57e;
    animation: quillAnimation 600ms infinite;
    transform: scale(1.3) rotate(2deg);
}
@keyframes quillAnimation {
    from { 
        cursor: url('../images/quill.gif'), auto;
    }
    to { 
        cursor: url('../images/quill2.png'), auto; 
    }
  }
.restaurantContainer {
    margin: 0 auto;
    width: 50%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.restaurant {
    margin: 5px;
    background-color: #f4f4f4;
    border: 1px solid #37b935;
    border-radius: 15px;
    width: 300px;
    box-shadow: 0px 2px 2px 0px rgb(139, 139, 139);
}
.restaurant:hover {
    transform: scale(1.2) rotate(2deg);
    animation: restaurantBoxAnimation 3s ease-in-out infinite;
}
@keyframes restaurantBoxAnimation {
    0% { transform: scale(1,1);}
    50% { transform: scale(1.2,1.2); }
    100% { transform: scale(1,1); }
  }
.hiddenInfo {
    visibility: hidden;
    position: absolute;
    text-align: center;
    width: 300px;
    height: 200px;
    border-top-left-radius: 13px;
    border-top-right-radius: 13px;
    color: white;
    text-shadow: 2px 2px black;
}
.restaurant:hover .hiddenInfo{
    visibility: visible;
    background-color: #66666660;
    animation: quillAnimation 600ms infinite;
}
.restaurantImage {
    display: flex;
    width: 300px;
    height: 200px;
    border-top-left-radius: 13px;
    border-top-right-radius: 13px;
}
.restaurantName {
    background-color: #ffffff8a;
    display: flex;
    font-size: 10px;
    padding: 1%;
    line-height: 2px;
}
.restaurantDetails {
    background-color: #ffffff8a;
    border-top: 1px solid #37b935;
    font-size: 14px;
    font-weight: 400;
    display: flex;
    justify-content: space-between;
    white-space: nowrap;
    padding: 1%;
    line-height: 0.5px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}
.price {
    font-weight: bold;
}
.addRestaurant {
    font-family: 'EightBitDragon';
    padding: 5px;
}
.addRestaurant:hover {
    animation: quillAnimation 600ms infinite;
}