@font-face {
    font-family: 'EightBitDragon';
    src: local('EightBitDragon'), url(EightBitDragon.ttf) format('truetype');
}
html {
    overflow-y: scroll;
    font-family: 'EightBitDragon';
}
body {
    background-image: url('background.png');
    background-repeat: repeat;
    background-attachment: fixed;
}