@font-face {
    font-family: 'PixelAzureBonds';
    src: local('PixelAzureBonds'), url(PixelAzureBonds.ttf) format('truetype');
}
html {
    overflow-y: scroll;
}
body {
    font-family: 'PixelAzureBonds';
    background-image: url('background.png');
    background-repeat: repeat;
    background-attachment: fixed;
}