.headerContainer {
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.headerLogo {
    height: 100px;
}
.headerAbout {
    height: 50px;
}